.container{
    padding: 3px;
     display: grid;
     grid-gap: 2px;
     grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)) ;
}
.gri{
    padding: 2px;
    border-radius: .3px;
    box-shadow: 10px 10px 30px black;
}

p{
    margin-top: 0;
}
/*
@media (min-width: 550px){
   .container{
       grid-template-columns: repeat(2,1fr);
   } 
   @media (min-width: 750px){
    .container{
        grid-template-columns: repeat(3,1fr);
    } 
 }
 @media (min-width: 950px){
    .container{
        grid-template-columns: repeat(4,1fr);
    } 
 }
      
}
    */
